.container {
    display: block;
    margin: 0 auto;
    border: 3px solid darkslategrey;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.greyName {
    color: grey;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: lightgray;
}

.listItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid gray;
    border-bottom: none;
}
